<header>
  <div class="container">
    <div class="top-nav">
      <div class="left-area">
        <p itemprop="address">91, Udaipur City, Udaipur, Paltan Ki Masjid, Chetak Circle, Rajasthan</p>
        <a href="javascript:void(0)" id="header-map" data-toggle="modal" data-target="#hotel-map">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23">
              <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                  <circle cx="10.5" cy="10.5" r="10.5" stroke="#849F27" stroke-linecap="round" stroke-linejoin="round" class="map-stroke"/>
                  <path stroke="#849F27" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4" d="M15 9.5c0 3.5-4.5 6.5-4.5 6.5S6 13 6 9.5a4.5 4.5 0 0 1 9 0z" class="map-stroke"/>
                  <circle cx="10.5" cy="9.5" r="1.5" stroke="#849F27" stroke-linecap="round" stroke-linejoin="round" class="map-stroke"/>
                  <circle cx="10.5" cy="9.5" r="1.5" fill="#849F27" class="map-fill"/>
              </g>
          </svg>
        </a>
      </div>
      <div class="right-area">
        <ul>
          <li>
            <img src="/assets/trip-advisor.png" alt="Trip Advisor" class="trip-advisor" />
            2016
          </li>
          <li>
            <!-- <img src="/assets/weather-icon.svg" alt="" class="weather-icon" /> -->
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 21 24">
                <path fill="#849F27" fill-rule="evenodd" d="M20.063 16.816l-3.14-1.813 2.61-.579a.48.48 0 1 0-.208-.937l-3.632.806-4.581-2.645 4.581-2.645 3.632.805a.48.48 0 0 0 .208-.937l-2.61-.579 3.14-1.812a.48.48 0 0 0-.48-.832l-3.14 1.813.804-2.549a.48.48 0 0 0-.916-.288L15.213 8.17l-4.581 2.646V5.526l2.513-2.742a.48.48 0 1 0-.708-.649l-1.805 1.97V.48a.48.48 0 0 0-.96 0v3.625l-1.806-1.97a.48.48 0 0 0-.708.65l2.514 2.74v5.292L5.09 8.17 3.972 4.624a.48.48 0 0 0-.916.288l.804 2.549L.72 5.648a.48.48 0 1 0-.48.831l3.14 1.813-2.61.579a.48.48 0 0 0 .209.937l3.631-.806 4.582 2.646-4.582 2.645-3.631-.805a.479.479 0 1 0-.208.937l2.609.579-3.14 1.812a.48.48 0 1 0 .48.832l3.14-1.813-.804 2.549a.48.48 0 0 0 .916.288l1.118-3.547 4.582-2.646v5.29l-2.514 2.743a.48.48 0 0 0 .708.648l1.806-1.97v3.626a.48.48 0 1 0 .96 0V19.19l1.805 1.97a.48.48 0 1 0 .708-.648l-2.513-2.742v-5.291l4.581 2.645 1.118 3.548a.48.48 0 1 0 .916-.288l-.803-2.55 3.14 1.813a.477.477 0 0 0 .655-.175.48.48 0 0 0-.176-.656" class="weather-fill"/>
            </svg>
            <span>20 C</span> -->
            <div class="weather-result"></div>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <nav>
      <ul>
        <li class="before-logo"><a href="aboutus" itemprop="url">ABOUT</a></li>
        <li class="before-logo"><a href="rooms" itemprop="url">ROOMS</a></li>
        <li class="before-logo"><a href="gallery" itemprop="url">GALLERY</a></li>
        <li class="logo">
          <div class="logo-image">
            <a href="index" itemprop="url"><img src="/assets/logo.png" alt="Logo" itemprop="logo" /></a>
          </div>
          <div class="logo-text d-none">
            <a href="index" itemprop="url">Baur Au Lac</a>
          </a>
        </li>
        <li class="after-logo"><a href="contact-us" itemprop="url">CONTACT</a></li>
        <li class="after-logo"><a href="blog" itemprop="url">BLOGS</a></li>
        <li class="after-logo"><a href="attractions" itemprop="url">ATTRACTIONS</a></li>
      </ul>
      <div class="mobile-menu"><img src="/assets/mobile-menu.svg" alt="Menu Icon" /></div>
      <div class="mobile-close"><img src="/assets/close-menu.svg" alt="close Icon" /></div>
      <div class="mobile-nav">
        <ul>
          <li><a href="aboutus" itemprop="url">ABOUT</a></li>
          <li><a href="rooms" itemprop="url">ROOMS</a></li>
          <li><a href="gallery" itemprop="url">GALLERY</a></li>
          <li><a href="attractions" itemprop="url">ATTRACTIONS</a></li>
          <li><a href="blog" itemprop="url">BLOG</a></li>
          <li><a href="contact-us" itemprop="url">CONTACTS</a></li>
          <li><a href="modify-booking" itemprop="url">MODIFY BOOKING</a></li>
        </ul>
        <div class="mobile-nav-footer">
          <ul>
            <li>
              <img src="/assets/trip-advisor.png" alt="Trip Advisor" class="trip-advisor" />
              2016
            </li>
            <li>
              <!-- <img src="/assets/weather-icon.svg" alt="" class="weather-icon" />
              20 C -->
              <div class="weather-result"></div>
            </li>
          </ul>
          <p itemprop="address">123, Street, Udaipur, Rajasthan - 129323<br />
<span itemprop="telephone">+91 567898765</span> | <span itemprop="telephone">+91 4567876456</span></p>
        </div>
      </div>
      <div class="clearfix"></div>
    </nav>
  </div>
</header>


<div class="modal fade" id="hotel-map">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Hotel Map</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3627.9692046253713!2d73.68758931464372!3d24.590258984182068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3967e572728a15c5%3A0x1e7f472077ffd3ba!2sPaltan+Masjid!5e0!3m2!1sen!2sin!4v1519624992641" width="100%" height="400" frameborder="0" style="border:0"  itemprop="hasMap" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
