<section class="section blog">
  <div class="container">
    <h3>EXPLORE</h3>
    <h2>Latest from our Blog</h2>
    <div class="blog-main">
      <div class="row blogs">
        <div class="col-12 col-lg-4 blog-area" itemscope="" itemtype="http://schema.org/Blog">
          <img src="/assets/blog-img.jpg" alt="Blog Picture" itemprop="image" />
          <div class="caption">
            <span itemprop="dateCreated">December, 22, 2016</span>
            <p itemprop="description">5 Reasons to stay at the beautiful Baur au Lac Hotel</p>
            <a href="#" itemprop="url">Continue Reading</a>
          </div>
        </div>
        <div class="col-12 col-lg-4 blog-area" itemscope="" itemtype="http://schema.org/Blog">
          <img src="/assets/blog-img.jpg" alt="Blog Picture" itemprop="image" />
          <div class="caption">
            <span itemprop="dateCreated">December, 22, 2016</span>
            <p itemprop="description">5 Reasons to stay at the beautiful Baur au Lac Hotel</p>
            <a href="#" itemprop="url">Continue Reading</a>
          </div>
        </div>
        <div class="col-12 col-lg-4 blog-area" itemscope="" itemtype="http://schema.org/Blog">
          <img src="/assets/blog-img.jpg" alt="Blog Picture" itemprop="image" />
          <div class="caption">
            <span itemprop="dateCreated">December, 22, 2016</span>
            <p itemprop="description">5 Reasons to stay at the beautiful Baur au Lac Hotel</p>
            <a href="#" itemprop="url">Continue Reading</a>
          </div>
        </div>
      </div>
    </div>


    <a href="#" class="see-all-blogs">SEE All BLOGS <img src="/assets/know-more-arrrow.svg" alt="Know More Arrow"></a>
  </div>
</section>
