<div class="booking">
  <form action="booking-details">
    <ul>
      <li class="checkin">
        <input type="hidden" id="checkin" name="checkin" value="" />
        <span class="left-name">CHECK IN</span> <span class="right-date checkindate"></span>
        <div class="from"></div>
      </li>
      <li class="checkout">
        <input type="hidden" id="checkout" name="checkout" value="" />
        <span class="left-name">CHECK OUT</span> <span class="right-date checkoutdate"></span>
        <div class="to"></div>
      </li>
      <li class="rooms">
        <input type="hidden" id="totalrooms" name="totalrooms" value="1" />
        <span class="left-name">ROOMS</span> <span class="right-date">1</span>
        <div class="dropdown">
          <div class="dropdown-head">Rooms</div>
          <div class="dropdown-body">
            <ul>
              <li><a href="javascript:void(0);">1</a></li>
              <li><a href="javascript:void(0);">2</a></li>
              <li><a href="javascript:void(0);">3</a></li>
              <li><a href="javascript:void(0);">4</a></li>
              <li><a href="javascript:void(0);">5</a></li>
              <li><a href="javascript:void(0);">6</a></li>
              <li><a href="javascript:void(0);">7</a></li>
              <li><a href="javascript:void(0);">8</a></li>
              <li><a href="javascript:void(0);">9</a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </li>
      <li class="adults">
        <input type="hidden" id="totaladults" name="totaladults" value="1" />
        <span class="left-name">ADULTS</span> <span class="right-date">1</span>
        <div class="dropdown">
          <div class="dropdown-head">Adults</div>
          <div class="dropdown-body">
            <div class="grid-view">
              <div class="dropdown-body-left">Room 1</div>
              <ul class="ul-right">
                <li><a href="javascript:void(0);" class="active">1</a></li>
                <li><a href="javascript:void(0);">2</a></li>
                <li><a href="javascript:void(0);">3</a></li>
                <li><a href="javascript:void(0);">4</a></li>
                <li><a href="javascript:void(0);">5</a></li>
                <li><a href="javascript:void(0);">6</a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </li>
      <li class="children">
        <input type="hidden" id="totalchildren" name="totalchildren" value="0" />
        <span class="left-name">CHILDREN</span> <span class="right-date">0</span>
        <div class="dropdown">
          <div class="dropdown-head">Children</div>
          <div class="dropdown-body">
            <div class="grid-view">
              <div class="dropdown-body-left">Room 1</div>
              <ul class="ul-right">
                <li><a href="javascript:void(0);">1</a></li>
                <li><a href="javascript:void(0);">2</a></li>
                <li><a href="javascript:void(0);">3</a></li>
                <li><a href="javascript:void(0);">4</a></li>
                <li><a href="javascript:void(0);">5</a></li>
                <li><a href="javascript:void(0);">6</a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </li>
    </ul>
    <div class="clearfix"></div>
    <div class="booking-btn">
      <button>BOOK NOW</button>
    </div>
  </form>
</div>
