<section class="white-section">
  <div class="container">
    <h3>TESTIMONIAL</h3>
    <h2>What Clients Say</h2>
    <div class="row align-items-center">
      <div class="col-12 col-md-2 testimonial-left">
          <img src="/assets/trip-advisor-logo.png" alt="Trip Advisor Logo" width="100%" />
          <p>Review from Trip Advisor</p>
      </div>
      <div class="col-12 col-md-10 testimonial-right">
        <div class="testimonial-slider">
          <div>
            <div class="testimonial" itemscope="" itemtype="http://schema.org/Review">
              <meta itemprop="itemReviewed" content="Tripadvisor" />
              <div class="testimonial-back">
                <svg width="109px" height="84px" viewBox="0 0 109 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-784.000000, -2349.000000)" opacity="0.2">
                        <path d="M880.8,2349.5 L883.5,2353.7 C864.899907,2365.90006 855.6,2378.09994 855.6,2390.3 C855.6,2396.50003 858.299973,2400.1 863.7,2401.1 L876.3,2389.4 C880.30002,2390.80001 883.949984,2393.34998 887.25,2397.05 C890.550016,2400.75002 892.2,2405.49997 892.2,2411.3 C892.2,2417.10003 889.900023,2422.04998 885.3,2426.15 C880.699977,2430.25002 874.650037,2432.3 867.15,2432.3 C859.649963,2432.3 853.450025,2429.75003 848.55,2424.65 C843.649975,2419.54997 841.2,2412.50004 841.2,2403.5 C841.2,2383.8999 854.399868,2365.90008 880.8,2349.5 Z M824.4,2349.5 L827.1,2353.7 C808.499907,2365.90006 799.2,2378.09994 799.2,2390.3 C799.2,2396.50003 801.899973,2400.1 807.3,2401.1 L819.9,2389.4 C823.90002,2390.80001 827.549984,2393.34998 830.85,2397.05 C834.150016,2400.75002 835.8,2405.49997 835.8,2411.3 C835.8,2417.10003 833.500023,2422.04998 828.9,2426.15 C824.299977,2430.25002 818.250037,2432.3 810.75,2432.3 C803.249963,2432.3 797.050024,2429.75003 792.15,2424.65 C787.249976,2419.54997 784.8,2412.50004 784.8,2403.5 C784.8,2383.8999 797.999868,2365.90008 824.4,2349.5 Z" id="“" fill="#849F27"></path>
                    </g>
                </svg>
              </div>
              <div class="testimonial-front">
                <p itemprop="reviewBody">Based at Udaipur, India, Hotel Hanuman Ghat surely provides it’s patrons a pleasure filled experience. We are well equipped unit boasting more than 20 rooms for the customers based across the globe. The budget hotel in Udaipur.</p>
                <span itemprop="author">Sourabh Ghosh</span>
                <div itemscope itemtype="http://schema.org/AggregateRating">
                  <div class="testimonial-rating" data-rating="3.5"></div>
                  <meta itemprop="itemReviewed" content="Tripadvisor" />
                  <meta itemprop="ratingValue" content="4.5">
                  <meta itemprop="ratingCount" content="5">
                  <meta itemprop="reviewCount" content="2"/>
                  <meta itemprop="bestRating" content="5"/>
                  <meta itemprop="worstRating" content="0"/>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="testimonial" class="testimonial" itemscope="" itemtype="http://schema.org/Review">
              <meta itemprop="itemReviewed" content="Tripadvisor" />
              <div class="testimonial-back">
                <svg width="109px" height="84px" viewBox="0 0 109 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-784.000000, -2349.000000)" opacity="0.2">
                        <path d="M880.8,2349.5 L883.5,2353.7 C864.899907,2365.90006 855.6,2378.09994 855.6,2390.3 C855.6,2396.50003 858.299973,2400.1 863.7,2401.1 L876.3,2389.4 C880.30002,2390.80001 883.949984,2393.34998 887.25,2397.05 C890.550016,2400.75002 892.2,2405.49997 892.2,2411.3 C892.2,2417.10003 889.900023,2422.04998 885.3,2426.15 C880.699977,2430.25002 874.650037,2432.3 867.15,2432.3 C859.649963,2432.3 853.450025,2429.75003 848.55,2424.65 C843.649975,2419.54997 841.2,2412.50004 841.2,2403.5 C841.2,2383.8999 854.399868,2365.90008 880.8,2349.5 Z M824.4,2349.5 L827.1,2353.7 C808.499907,2365.90006 799.2,2378.09994 799.2,2390.3 C799.2,2396.50003 801.899973,2400.1 807.3,2401.1 L819.9,2389.4 C823.90002,2390.80001 827.549984,2393.34998 830.85,2397.05 C834.150016,2400.75002 835.8,2405.49997 835.8,2411.3 C835.8,2417.10003 833.500023,2422.04998 828.9,2426.15 C824.299977,2430.25002 818.250037,2432.3 810.75,2432.3 C803.249963,2432.3 797.050024,2429.75003 792.15,2424.65 C787.249976,2419.54997 784.8,2412.50004 784.8,2403.5 C784.8,2383.8999 797.999868,2365.90008 824.4,2349.5 Z" id="“" fill="#849F27"></path>
                    </g>
                </svg>
              </div>
              <div class="testimonial-front">
                <p itemprop="reviewBody">Based at Udaipur, India, Hotel Hanuman Ghat surely provides it’s patrons a pleasure filled experience. We are well equipped unit boasting more than 20 rooms for the customers based across the globe. The budget hotel in Udaipur.</p>
                <span itemprop="author">Sourabh Ghosh</span>
                <div itemscope itemtype="http://schema.org/AggregateRating">
                  <div class="testimonial-rating" data-rating="4"></div>
                  <meta itemprop="itemReviewed" content="Tripadvisor" />
                  <meta itemprop="ratingValue" content="4.5">
                  <meta itemprop="ratingCount" content="5">
                  <meta itemprop="reviewCount" content="2"/>
                  <meta itemprop="bestRating" content="5"/>
                  <meta itemprop="worstRating" content="0"/>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="testimonial" itemscope="" itemtype="http://schema.org/Review">
              <meta itemprop="itemReviewed" content="Tripadvisor" />
              <div class="testimonial-back">
                <svg width="109px" height="84px" viewBox="0 0 109 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-784.000000, -2349.000000)" opacity="0.2">
                        <path d="M880.8,2349.5 L883.5,2353.7 C864.899907,2365.90006 855.6,2378.09994 855.6,2390.3 C855.6,2396.50003 858.299973,2400.1 863.7,2401.1 L876.3,2389.4 C880.30002,2390.80001 883.949984,2393.34998 887.25,2397.05 C890.550016,2400.75002 892.2,2405.49997 892.2,2411.3 C892.2,2417.10003 889.900023,2422.04998 885.3,2426.15 C880.699977,2430.25002 874.650037,2432.3 867.15,2432.3 C859.649963,2432.3 853.450025,2429.75003 848.55,2424.65 C843.649975,2419.54997 841.2,2412.50004 841.2,2403.5 C841.2,2383.8999 854.399868,2365.90008 880.8,2349.5 Z M824.4,2349.5 L827.1,2353.7 C808.499907,2365.90006 799.2,2378.09994 799.2,2390.3 C799.2,2396.50003 801.899973,2400.1 807.3,2401.1 L819.9,2389.4 C823.90002,2390.80001 827.549984,2393.34998 830.85,2397.05 C834.150016,2400.75002 835.8,2405.49997 835.8,2411.3 C835.8,2417.10003 833.500023,2422.04998 828.9,2426.15 C824.299977,2430.25002 818.250037,2432.3 810.75,2432.3 C803.249963,2432.3 797.050024,2429.75003 792.15,2424.65 C787.249976,2419.54997 784.8,2412.50004 784.8,2403.5 C784.8,2383.8999 797.999868,2365.90008 824.4,2349.5 Z" id="“" fill="#849F27"></path>
                    </g>
                </svg>
              </div>
              <div class="testimonial-front">
                <p itemprop="reviewBody">Based at Udaipur, India, Hotel Hanuman Ghat surely provides it’s patrons a pleasure filled experience. We are well equipped unit boasting more than 20 rooms for the customers based across the globe. The budget hotel in Udaipur.</p>
                <span itemprop="author">Sourabh Ghosh</span>
                <div itemscope itemtype="http://schema.org/AggregateRating">
                  <div class="testimonial-rating" data-rating="4.5"></div>
                  <meta itemprop="itemReviewed" content="Tripadvisor" />
                  <meta itemprop="ratingValue" content="4.5">
                  <meta itemprop="ratingCount" content="5">
                  <meta itemprop="reviewCount" content="2"/>
                  <meta itemprop="bestRating" content="5"/>
                  <meta itemprop="worstRating" content="0"/>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="testimonial" itemscope="" itemtype="http://schema.org/Review">
              <meta itemprop="itemReviewed" content="Tripadvisor" />
              <div class="testimonial-back">
                <svg width="109px" height="84px" viewBox="0 0 109 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-784.000000, -2349.000000)" opacity="0.2">
                        <path d="M880.8,2349.5 L883.5,2353.7 C864.899907,2365.90006 855.6,2378.09994 855.6,2390.3 C855.6,2396.50003 858.299973,2400.1 863.7,2401.1 L876.3,2389.4 C880.30002,2390.80001 883.949984,2393.34998 887.25,2397.05 C890.550016,2400.75002 892.2,2405.49997 892.2,2411.3 C892.2,2417.10003 889.900023,2422.04998 885.3,2426.15 C880.699977,2430.25002 874.650037,2432.3 867.15,2432.3 C859.649963,2432.3 853.450025,2429.75003 848.55,2424.65 C843.649975,2419.54997 841.2,2412.50004 841.2,2403.5 C841.2,2383.8999 854.399868,2365.90008 880.8,2349.5 Z M824.4,2349.5 L827.1,2353.7 C808.499907,2365.90006 799.2,2378.09994 799.2,2390.3 C799.2,2396.50003 801.899973,2400.1 807.3,2401.1 L819.9,2389.4 C823.90002,2390.80001 827.549984,2393.34998 830.85,2397.05 C834.150016,2400.75002 835.8,2405.49997 835.8,2411.3 C835.8,2417.10003 833.500023,2422.04998 828.9,2426.15 C824.299977,2430.25002 818.250037,2432.3 810.75,2432.3 C803.249963,2432.3 797.050024,2429.75003 792.15,2424.65 C787.249976,2419.54997 784.8,2412.50004 784.8,2403.5 C784.8,2383.8999 797.999868,2365.90008 824.4,2349.5 Z" id="“" fill="#849F27"></path>
                    </g>
                </svg>
              </div>
              <div class="testimonial-front">
                <p itemprop="reviewBody">Based at Udaipur, India, Hotel Hanuman Ghat surely provides it’s patrons a pleasure filled experience. We are well equipped unit boasting more than 20 rooms for the customers based across the globe. The budget hotel in Udaipur.</p>
                <span itemprop="author">Sourabh Ghosh</span>
                <div itemscope itemtype="http://schema.org/AggregateRating">
                  <div class="testimonial-rating" data-rating="2"></div>
                  <meta itemprop="itemReviewed" content="Tripadvisor" />
                  <meta itemprop="ratingValue" content="4.5">
                  <meta itemprop="ratingCount" content="5">
                  <meta itemprop="reviewCount" content="2"/>
                  <meta itemprop="bestRating" content="5"/>
                  <meta itemprop="worstRating" content="0"/>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="testimonial-arrow">
          <a href="javascript:void(0)" data-state="prev" class="arrowdisable">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="17" viewBox="0 0 21 17">
                <path fill="#849F27" fill-rule="evenodd" stroke="#83A016" d="M1.246 7.91c.012-.014.016-.031.029-.044L7.832 1.25a.835.835 0 0 1 1.193 0 .856.856 0 0 1 0 1.202L3.847 7.676h15.347c.446 0 .806.368.806.82 0 .453-.36.82-.806.82H3.84l5.185 5.233a.857.857 0 0 1 0 1.203.84.84 0 0 1-1.193 0L1.275 9.135c-.037-.036-.054-.082-.082-.124A.812.812 0 0 1 1 8.497c0-.231.095-.438.246-.587z"/>
            </svg>
          </a>
          <a href="javascript:void(0)" data-state="next">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="17" viewBox="0 0 21 17">
                <path fill="#849F27" fill-rule="evenodd" stroke="#83A016" d="M19.754 9.09c-.012.014-.016.031-.029.044l-6.557 6.615a.835.835 0 0 1-1.193 0 .856.856 0 0 1 0-1.202l5.178-5.223H1.806A.813.813 0 0 1 1 8.504c0-.453.36-.82.806-.82H17.16L11.975 2.45a.857.857 0 0 1 0-1.203.84.84 0 0 1 1.193 0l6.557 6.617c.037.036.054.082.082.124a.812.812 0 0 1 .193.514.822.822 0 0 1-.246.587z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>