<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Guest House</title>
        <%= render partial: 'inc-script' %>
    </head>
    <body>
      <div itemscope="" itemtype="http://schema.org/Hotel">
        <%= render partial: 'inc-hotelschema' %>
      <%= render partial: 'inc-header' %>
      <div class="inner-content">
        <div class="container modify-booking">
          <h1>Modify Booking <span>We are committed to making your future stay with us comfortable.</span></h1>
          <div class="row">
            <div class="col-12 col-md-8">
              <form id="modify-booking-form" action="cancelled-confirm">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <input type="text" name="booking_id" placeholder="Booking Id" required />
                  </div>
                  <div class="col-12 col-md-6">
                    <input type="email" name="email" placeholder="Your Email Id" required />
                  </div>
                </div>
                <button>FIND <img src="/assets/know-more-arrrow.svg" alt=""></button>
              </form>
            </div>
          </div>
        </div>

      </div>
      <%= render partial: 'inc-footer' %>
      </div>
      <script src="/assets/jquery.validate.min.js" type="text/javascript"></script>
      <script>
      $("#modify-booking-form").validate({
        submitHandler: function(form) {
          $("#modify-booking-form").submit();
        }
       });
      </script>
    </body>
</html>
