<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Guest House</title>
        <%= render partial: 'inc-script' %>
    </head>
    <body>
      <div itemscope="" itemtype="http://schema.org/Hotel">
        <%= render partial: 'inc-hotelschema' %>
      <%= render partial: 'inc-header' %>
      <div class="inner-content">
        <div class="container terms-conditions">
          <h1>Sitemap</h1>
        </div>
      </div>
      <%= render partial: 'inc-footer' %>
      </div>
    </body>
</html>
