<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Guest House</title>
        <%= render partial: 'inc-script' %>
    </head>
    <body>
      <div itemscope="" itemtype="http://schema.org/Hotel">
        <%= render partial: 'inc-hotelschema' %>
      <%= render partial: 'inc-header' %>
      <div class="inner-content">
        <div class="container terms-conditions">
          <h1>Terms & Conditions</h1>
          <h2>Introduction</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris varius mi tortor, et varius nulla mattis ac. Nunc ullamcorper et ante quis euismod. Donec eget ex eu neque aliquet vulputate. Cras sit amet sapien placerat, scelerisque erat sed, consequat eros. Nam id malesuada orci. Nullam vestibulum quis enim a rutrum. Donec semper dapibus mauris. In iaculis odio et sapien mattis venenatis. Sed dolor felis, pulvinar vitae malesuada sed, bibendum eu odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer vitae ante vel magna maximus iaculis. Maecenas commodo enim dolor, eu mollis dolor rutrum at. Morbi a suscipit arcu.</p>
              <p>Etiam et vulputate turpis. Morbi rutrum est sed magna fermentum, eget venenatis nisi ultricies. Sed ullamcorper justo et dolor hendrerit suscipit. Maecenas quis tincidunt elit, vitae suscipit sapien. Integer at magna at nunc ultrices faucibus. Nullam cursus porta dolor, at vehicula metus rutrum fringilla. Integer id nisl finibus, egestas nisi a, tincidunt nulla. Mauris auctor dui erat, ut congue leo molestie quis. Sed malesuada mollis purus, sit amet eleifend arcu eleifend ut. Praesent vulputate dolor sit amet libero ultricies, ac feugiat neque commodo.</p>
              <p>Morbi sapien augue, faucibus non hendrerit nec, tempus in turpis. In a enim libero. Curabitur mauris orci, gravida ut sodales non, convallis quis lectus. Maecenas vitae venenatis mauris, eu sollicitudin lorem. Vivamus nec suscipit risus, dictum molestie sem. Etiam pharetra porttitor arcu vitae aliquam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam sodales malesuada aliquam. Donec elementum velit eget maximus finibus. Nullam hendrerit velit nec pulvinar lacinia. Nulla facilisis tristique ultrices.</p>
              <p>Vivamus rutrum ex eget ipsum interdum, et tempor nisi sodales. Nam euismod vestibulum orci, id tempus nulla fermentum sit amet. Aliquam tristique facilisis elementum. Quisque mattis vitae risus ut aliquet. Etiam posuere interdum ipsum lacinia tempor. Ut neque augue, pharetra sed volutpat ac, porttitor eget tellus. Fusce iaculis, metus ut ultricies congue, purus massa vestibulum mauris, et faucibus dolor justo in mi. Mauris quis hendrerit eros. Quisque ac fermentum sem. Sed fringilla magna vitae turpis vehicula, feugiat hendrerit erat volutpat. Praesent porttitor libero enim, id lacinia nisl rutrum et. Quisque sollicitudin justo vel leo suscipit vehicula. Aliquam volutpat nisl enim, at vehicula risus venenatis eget. Donec lacinia rhoncus convallis. Donec eget ultrices purus.</p>
              <p>Integer eu velit purus. Duis metus dolor, congue a pulvinar a, congue et neque. Pellentesque dapibus imperdiet auctor. Aliquam egestas lacinia molestie. Vestibulum mollis bibendum justo non dapibus. Duis accumsan, diam et laoreet cursus, lorem elit porta lacus, in aliquam leo nibh a metus. Ut scelerisque ante et libero vulputate, sed vehicula leo bibendum. Sed id venenatis ante, at lacinia eros. Integer vestibulum nisi vel odio rhoncus volutpat. Curabitur aliquam elementum accumsan. Maecenas aliquet, neque consectetur imperdiet ultricies, erat velit commodo felis, non volutpat velit odio sed felis.</p>
        </div>
      </div>


      <%= render partial: 'inc-footer' %>
      </div>
    </body>
</html>
